.animated-bg {
  top: 0;
  left: 3vw;
  width: 10vw;
  height: 100vh;
  position: fixed;
  z-index: -1000;
}

.animated-bg div {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffa1e3;
  border-radius: 50%;
}

.animated-bg div:nth-child(1) {
  opacity: 0.4936;
  transform: translate(57.9122%, -10px) scale(0.4891);
  animation: fall-1 18s -22s linear infinite;
}
@keyframes fall-1 {
  56.141% {
    transform: translate(64.4269%, 76.141vh) scale(0.9891);
  }
  to {
    transform: translate(61.16955%, 100vh) scale(0.1891);
  }
}
.animated-bg div:nth-child(2) {
  opacity: 0.9638;
  transform: translate(19.3563%, -10px) scale(0.2202);
  animation: fall-2 17s -7s linear infinite;
}
@keyframes fall-2 {
  48.279% {
    transform: translate(80.7904%, -8.279vh) scale(0.1202);
  }
  to {
    transform: translate(85.07335%, 100vh) scale(0.9202);
  }
}
.animated-bg div:nth-child(3) {
  opacity: 0.1379;
  transform: translate(3.3045%, -10px) scale(0.0789);
  animation: fall-3 29s -3s linear infinite;
}
@keyframes fall-3 {
  60.718% {
    transform: translate(4.2628%, 60.718vh) scale(0.0789);
  }
  to {
    transform: translate(3.78365%, 100vh) scale(0.0789);
  }
}
.animated-bg div:nth-child(4) {
  opacity: 0.0297;
  transform: translate(5.5527%, -10px) scale(0.7203);
  animation: fall-4 13s -2s linear infinite;
}
@keyframes fall-4 {
  79.963% {
    transform: translate(10.087%, 69.963vh) scale(0.7203);
  }
  to {
    transform: translate(7.81985%, 100vh) scale(0.7203);
  }
}
.animated-bg div:nth-child(5) {
  opacity: 0.9379;
  transform: translate(7.949%, -10px) scale(0.3485);
  animation: fall-5 21s -2s linear infinite;
}
@keyframes fall-5 {
  68.189% {
    transform: translate(7.5654%, 68.189vh) scale(0.3485);
  }
  to {
    transform: translate(7.7572%, 100vh) scale(0.3485);
  }
}
.animated-bg div:nth-child(6) {
  opacity: 0.7814;
  transform: translate(33.6082%, -10px) scale(0.5053);
  animation: fall-6 15s -21s linear infinite;
}
@keyframes fall-6 {
  24.507% {
    transform: translate(40.2769%, 44.507vh) scale(0.5053);
  }
  to {
    transform: translate(36.94255%, 100vh) scale(0.5053);
  }
}
.animated-bg div:nth-child(7) {
  opacity: 0.4689;
  transform: translate(2.36%, -10px) scale(0.2056);
  animation: fall-7 25s -13s linear infinite;
}
@keyframes fall-7 {
  16.29% {
    transform: translate(10.516%, 46.29vh) scale(0.2056);
  }
  to {
    transform: translate(6.438%, 100vh) scale(0.2056);
  }
}